nav.navbar{
  margin-bottom: 50px;
}

.row{
  margin: 30px;
}

.articles{
  width: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0px 0px;
  margin: 30px;
  box-shadow: 2px 5px 10px 0px grey;
  padding: 20px;
}

.link_article{
  float: right;
}

.articles h3{
  display: inline-block;
}
.category a{
  float: right;
  display: inline-block;
  font-weight: bold;
  color: #c44848;
}
