{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        {% for article in articles %}
              <div class="col-5 col-auto articles">
                <h3>{{ article.title }}</h3>
                <div class="description_article">
                    {{ article.description }}
                    <div class="dates_article">
                      Fait le : {{ article.dateOc | date("d/m/Y") }}
                    </div>
                </div>
              </div>
        {% endfor %}
    </div>
{% endblock %}
